<h1><p>
The persons name is <%= @contactsdetail.name %>
</p>

<p>
The person is from <%= @contactsdetail.address %>
</p>
<p>
The person's email is <%= @contactsdetail.email_address %>
</p>

<p>
The person's number is <%= @contactsdetail.phone_number %>
</p>

</h1> 

<%= link_to 'Go to home page', index_path %>